<ul class="social-icons__square">
    <li class="social-icons-label">
        <h6>Follow the Project</h6>
    </li>
    <li class="social-icon__square social-icon__square--facebook">
        {{ social_icons_field.field_facebook | renderThis }}
    </li>
    <li class="social-icon__square social-icon__square--instagram">
        {{ social_icons_field.field_instagram | renderThis }}
    </li>
    <li class="social-icon__square social-icon__square--linkedin">
        {{ social_icons_field.field_linkedin | renderThis }}
    </li>
    <li class="social-icon__square social-icon__square--pinterest">
        {{ social_icons_field.field_pinterest | renderThis }}
    </li>
    <li class="social-icon__square social-icon__square--twitter">
        {{ social_icons_field.field_twitter | renderThis }}
    </li>
</ul>
