{% set buttonClasses = [
    'button',
    'button--' ~ type|default('primary'),
    'button--' ~ size|default('md'),
    'icon--' ~ icon_pos|default('none'),
    class|default('')
] %}

{% if button %}
    {% set link = button.uri %}
    {% set text = button.title %}
{% endif %}

{% if text %}
    {% if link %}
        <a href="{{ link }}" {{ attributes|default(create_attribute()).addClass(buttonClasses) }}>{{ text }}</a>
    {% else %}
        <button {{ attributes|default(create_attribute()).addClass(buttonClasses) }} {% if disabled %} disabled {% endif %}>{{ text }}</button>
    {% endif %}
{% endif %}